body {
     background: linear-gradient(135deg, #dfe9f3, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

h2, h3, h4 {
    color: #2c3e50;
    font-weight: 600;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-primary:hover {
    background-color: #004494;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

a.btn-link {
    color: #007bff;
    text-decoration: none;
}

a.btn-link:hover {
    text-decoration: underline;
}
